body {
    margin-top: 10px;
    background-color: black;
    margin-left: 0;
    margin: 0;
}
.container1 {
    background-size: cover;
    position: relative;
    margin: auto;
    display: flex;
    margin-top: 20px;
}
pre{
    color: red;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

}
h1,h2 {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: fantasy;
    position: relative;
    width: 100%;
    bottom: 20px;
    margin: 0;

}
.headimg {
    background: no-repeat;
    width: 100%;
    margin-bottom: 80px;
}
.linkline {
    text-decoration: none;
    color: blue;
}
.linkline:hover {
    color: white;
    text-decoration: none;
}
p {
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 10px;
}
.button {
    font-size: 40px;
    color: white;
    
}
.button:hover {
    color: blue;
}
.sizeimg {
    background-size: cover;
    position: relative;
    margin: 10px;
    width: 450px;
    height: 300px;
}



@media only screen and (max-width: 768px){
    pre{
        color: red;
        text-align: center;
        font-size: 15px;
        margin-top: 1px;
        margin-bottom: 10px;
        
    }
    p {
        color: white;
        text-align: center;
        font-size: 16px;
    } 
    .container1 {

        background-size: cover;
        position: relative;
        margin: auto;
        display: flex;
        width: 400px;
    } 
    .headimg {
        background: no-repeat;
        width: 100%;
        margin-bottom: 30px ;
    }
    h1,h2 {
        font-size: 20px;
    }
    .sizeimg {

        background-size: cover;
        position: relative;
        margin: auto;
        display: flex;
        width: 320px;
        height: 200px;
        
    }
    
}

@media (min-width: 768px) and (max-width: 1024px){
    pre{
        color: red;
        text-align: center;
        font-size: 25px;
        margin-top: 1px;
        margin-bottom: 10px;
        
    }
    .container1 {
        width: 790px;
        margin: 10px;
    } 
    .headimg {
        background: no-repeat;
        width: 100%;
        margin-bottom: 30px ;
    }
    h1,h2 {
        font-size: 40px;
    }
    .sizeimg {
        margin: 25px;
        margin-top: 2px;
        display: inline;
        width: 350px;
        height: 200px;
    }
}
